<div id="title-header">
  <div id="header-contents">
    <div class="header-text">
      <h1>Andrew Southard</h1>
    </div>
    <div id="sub-header">
      <p>
        Full-Stack Web Developer
      </p>
      <p id="email-header">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        andrewsouthard111@gmail.com
      </p>
      <hr>
    </div>
  </div>
</div>


<div id="bio">
  <%= image_tag("andrew.jpg", class: "profile-pic") %>
  <p id="bio-text">Hi, my name is Andrew. Thank you for checking out my site! I'm a Full-Stack Web Developer currently living in Brooklyn, New York. I am receiving my Master's Degree in Computer Science from Pace University and I am a graduate of Actualize Coding Bootcamp. My experience has provided me the opportunity to work on multiple projects, develop my trouble-shooting abilities, and grow as a developer.</p>

</div>

<div class="wrapper" id="projects">
  <div class="one" id="bikeparkway">
    <p class="section-title">Bike Parkway</p>
    <a href="https://bikeparkway.herokuapp.com">bikeparkway.herokuapp.com</a>
    <ul>
      <li>
        Capstone project made with Ruby on Rails, PostGreSQL database, and the JavaScript framework Vue.js
      </li>
      <li>
        Utilized Google Maps API to provide cycling directions/map and provided users the ability to track their personal miles, along with their friends
      </li>
      <li>
        Created a dynamic UX/UI, adding the ability to post comments and update page with JavaScript
      </li>
    </ul>
  </div>

  <div class="two">
    <iframe class="video" width="426" height="240" src="https://www.youtube.com/embed/jWPxcDhshDs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="three" id="bayridge">
    <p class="section-title">Bay Ridge Comics</p>
    <a href="https://bay-ridge-comics.herokuapp.com">bay-ridge-comics.herokuapp.com</a>
    <br>
    <ul>
      <li>
        Provided a website for a fictional comic book store, Bay Ridge Comics
      </li>
      <li>
        Learned about RESTful actions demonstrating the ability to show, create, edit, update and delete products
      </li>
      <li>
        Gained knowledge of has_many, belongs_to, and has_many :through relationships by building an e-commerce experience
      </li>
    </ul>
    <%= image_tag("br.png", class: "project-icon") %>
  </div>

  <div class="four" id="pizza">
    <p class="section-title">Pizza Coffee Bagels</p>
    <a href="http://www.pizzacoffeebagels.com">pizzacoffeebagels.com</a>
    <br>
    <ul>
      <li>
        Personal project made in summer 2016, goal was to communicate with the Yelp API to provide the top 3 Pizza, Bagel, or Coffee places nearby a user inputted address
      </li>
      <li>
        Designed Bagel icon using Inkscape.
      </li>
    </ul>
    <br>
    <%= image_tag("pizza.png", class: "project-icon") %>
  </div>
</div>

<div id="blog">
  <!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="30345/"></script> <!-- end feedwind code -->
</div>

<div id="contact">
  <div>
    <a href="mailto:andrewsouthard111@gmail.com">
      <i class="fa fa-envelope-open-o fa-5x" aria-hidden="true"></i>
      andrewsouthard111@gmail.com
    </a>  
  </div>

  <div>
    <a href="//www.github.com/andrewsouthard1">
      <i class="fa fa-github fa-5x" aria-hidden="true"></i>
      github.com/andrewsouthard1
    </a>
  </div>
  <div>
    <a href="//www.linkedin.com/in/andrewsouthard1">
      <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
      linkedin.com/in/andrewsouthard1
    </a>
  </div>

  <div>
    <a href="//twitter.com/andrewsouthard7">
      <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
      @andrewsouthard7
    </a>
  </div>

</div>

