/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
}

#contact {
  margin-left: 30%;
}

#contact i {
  padding-right: 15px;
  margin-top: 10px;
}

#contact a{
  text-decoration: none;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
#contact a:hover{
  text-decoration: none;
  color: #4ab678;
}


#footer{
  position: fixed;
  bottom: 0;
  width:100%;
  text-align: center;
  height:50px;
  background-color: black;
  color: white;
  padding:10px;
  z-index:200;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 2.0em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
#footer a{
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
#footer a:hover{
  text-decoration: none;
  color: #4ab678;
}

#projects{
  opacity: 0;
}

/*@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/

#email-header {
  font-size: .5em;
  text-align: center;
  margin-top: -20px;
}

#sub-header {
  font-size: 1.85em;
  text-transform: uppercase;
  text-align: center;
  margin-top: -50px;
  font-family: 'Oswald', sans-serif;
}

#bio {
  margin-left: 0%;
  width: 600px;
  margin: 50px auto;
}

#bio-text{
  font-size: 1.1em;
}

#blog{
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
}

#contact {

}

.header-text {
  text-align: center;
  margin: 0 auto;
  font-size: 2.0em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.profile-pic {
  box-shadow: 0 0 1.0em black;
  height: 150px;
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 1%;
}

.section-title {
  font-size: 1.85em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-bottom: -5px;  
}

.section {
  font-size: 1.75em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.project-icon {
  height: 175px;
  width: 360px;
  margin-left: 50px;
  border: 5px solid black;
  outline: 5px solid #d3d3d3;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 200px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.two {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  position: relative;
}

.video {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 40px;
  margin-top: 40px;
  border: 5px solid black;
  outline: 5px solid #d3d3d3;
}

.three {
  margin-top: 40px;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.four {
  margin-top: 40px;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
